.title {
    margin: 0 0 24px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.advantages-title {
    margin-top: 55px;
    margin-bottom: 35px;
}

.advantages-item__title {
    margin: 0 auto 47px;
    line-height: 24px;
    width: 576px;
    text-align: center;

}